/*折り畳み展開*/

button.collapse-toggler{
border:none;
background:none;
}

button.collapse-toggler[aria-expanded="false"] svg.fa-times{
display:none;
}

button.collapse-toggler[aria-expanded="true"] svg.fa-plus{
display:none;
}