/*メガドロップダウンメニュー*/

nav li.mega-dropdown{
position:static;
}

nav li.mega-dropdown a[aria-expanded="true"]{
font-weight:bold;
}

nav div.mega-dropdown-menu{
width:100%;
border-radius:0;
border-top:1px #dddddd solid;
border-left:none;
border-right:none;
border-bottom:1px #dddddd solid;
margin-top:0;
background-color:#f6f6f6;
z-index:1040;
}

nav div.mega-dropdown-menu ul{
padding-left:0;
}

nav div.mega-dropdown-menu li{
list-style:none;
padding-top:0.3em;
paddong-bottom:0.3em;
}

nav div.mega-dropdown-menu a.dropdown-item{
display:inline;
font-size:110%;
}

@media screen and (min-width:992px){
  nav li.mega-dropdown a[aria-expanded="true"]{
    background-color:#ededed;
    }
  nav div.mega-dropdown-menu{
    border-top:none;
    background-color: #ededed;
    border-bottom:1px #999999 solid;
    padding-top:0;
    }
  nav div.mega-dropdown-menu div.row{
    margin-top:0;
    padding-top:2em;
    }
   nav div.mega-dropdown-menu a:hover{
     background-color:#ededed;
     }
   nav div.mega-dropdown-menu a:focus{
     background-color:#ededed;
     }
}
